/* Макросики */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-nav-color: #2196f3;
  --hover-button-color: #2196f3;
  --hover-button-text-color: #ffffff;
  --icons-color: #afb1b8;
  --hover-social-icons-color: #ffffff;
  --transition-parameter: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Тельце */
body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* Обнуление */
ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Общая рамка */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid tomato; */
}

/*! HEADER */
/* Лого */
header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logow {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logob {
  color: var(--hover-nav-color);
}

/* Навигация */
.container.navigation {
  display: flex;
  height: 80px;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.navigation .link {
  display: block;
  padding: 32px 0;
}

.site-nav .item {
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link::after {
  content: '';

  display: block;
  width: 0;
  height: 4px;

  position: absolute;
  bottom: -1px;
  right: 0;

  background: var(--hover-nav-color);
  border-radius: 2px;

  transition: width var(--transition-parameter);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after {
  width: 100%;
  left: 0;
}

.site-info {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-info .link {
  display: flex;
  align-items: center;
}

.site-info .item:not(:last-child) {
  margin-right: 50px;
}

.site-info .icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Ссылки и взаимодействие с ними */
.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-parameter);
}

.link-contacts {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus,
.link-current {
  color: var(--hover-nav-color);
}

.site-nav .link-current::after {
  content: '';

  display: block;
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: -1px;
  right: 0;

  background: var(--hover-nav-color);
  border-radius: 2px;
}

/*! MAIN INDEX */
/* Герой */
.hero {
  color: #ffffff;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/studio/bg-hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero h1 {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 675px;
  margin: 0 auto 30px;
}

.hero button {
  display: inline-block;
  padding: 10px 32px;
  text-align: center;

  color: #ffffff;
  background-color: var(--hover-nav-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-parameter),
    color var(--transition-parameter);
}

.hero button:hover,
.hero button:focus {
  color: #000000;
  background-color: #fff;
}

/* Особенности */
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature h3 {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature p {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.employment {
  padding-bottom: 94px;
}

.employment h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.employment-list {
  display: flex;
}

.employment-list .item:not(:last-child) {
  margin-right: 30px;
}

.employment .item {
  position: relative;
}

.employment p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team {
  text-align: center;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding: 30px 0px;
  margin: 0 10px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 44px;
  margin: 0 22px;
}

.team-link-list .link-item:not(:last-child) {
  margin-right: 10px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icons-color);

  transition: background-color var(--transition-parameter),
    fill var(--transition-parameter), transform var(--transition-parameter);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--hover-nav-color);
  fill: var(--hover-social-icons-color);
  transform: scale(1.25);
}

/* Постоянные клиенты */
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.customers {
  display: flex;
}

.customers .item:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);
  transition: border-color var(--transition-parameter),
    fill var(--transition-parameter), transform var(--transition-parameter);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--hover-nav-color);
  border-color: var(--hover-nav-color);
  transform: scale(1.25);
}

/*! FOOTER */
/* Футер */
footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0px;
}

footer .container {
  display: flex;
}

/* Адресс */
.address-container {
  min-width: 231px;
  margin-right: 70px;
}

address {
  font-style: normal;
  margin-top: 20px;
}

.contacts {
  font-size: 14px;
  line-height: 1.71;
}

.contacts .link-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.contacts .address-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Социальные ссылки */
.social-links-container {
  min-width: 206px;
  margin-right: 93px;
}

.social-links-container p {
  margin-top: 12px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

.social-link-list {
  display: flex;
  width: 206px;
  height: 44px;
}

.social-link-list .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-parameter),
    fill var(--transition-parameter), transform var(--transition-parameter);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-nav-color);
  fill: var(--hover-social-icons-color);
  transform: scale(1.25);
}

/* Подписка */
.subscribe-container {
  min-width: 570px;
}

.subscribe-container p {
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form input {
  width: 353px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  fill: currentColor;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: color var(--transition-parameter),
    background var(--transition-parameter), fill var(--transition-parameter);
}

.button-subscribe:hover,
.button-subscribe:focus {
  color: #000000;
  background-color: #ffffff;
}

.subscribe-icon {
  margin-left: 10px;
}
/*! Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transition: opacity var(--transition-parameter);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(90deg) scale(0.1);
}

/* Внутренности модалки */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-parameter);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: currentColor;
  cursor: pointer;

  transition: fill var(--transition-parameter),
    scale var(--transition-parameter);
}

.button-close:hover,
.button-close:focus {
  fill: var(--hover-nav-color);
  transform: scale(1.05);
}

.modal-form p {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form .input-container {
  display: flex;
  flex-direction: column;

  position: relative;
  margin-bottom: 10px;
}

.modal-form .form-label {
  margin-bottom: 4px;

  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form .form-input {
  position: relative;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border var(--transition-parameter);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  fill: currentColor;

  transition: fill var(--transition-parameter);
}
.modal-form .form-input:hover,
.modal-form .form-input:focus,
.modal-form textarea:hover,
.modal-form textarea:focus {
  border: 1px solid var(--hover-button-color);
  outline: none;
}

.modal-form .form-input:hover ~ .modal-icon,
.modal-form .form-input:focus ~ .modal-icon {
  fill: var(--hover-button-color);
}

.modal-form textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.input-container.textarea {
  margin-bottom: 0;
}

.modal-form textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition: background var(--transition-parameter),
    border var(--transition-parameter);
}

.checkbox:checked + .checkbox-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3e%3c/svg%3e");
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.input-checkbox-container label[for='privacy'] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.input-checkbox-container .privacy-link {
  text-decoration-line: underline;
  color: #2196f3;
}

.button-submit {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background var(--transition-parameter);
}

.button-submit:hover,
.button-submit:focus {
  background: #188ce8;
}
/*! MAIN PORTFOLIO */
/* Кнопки фильтра портфолио */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}

.filter button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;

  transition: background-color var(--transition-parameter),
    color var(--transition-parameter), box-shadow var(--transition-parameter);
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter button:hover,
.filter button:focus {
  color: #ffffff;
  background-color: var(--hover-nav-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио */
.content {
  display: flex;
  flex-wrap: wrap;
}

.content .item {
  position: relative;
  min-width: 370px;
}

.content .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.content .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.content .overlay {
  position: relative;
  overflow: hidden;
}

.content .overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;

  opacity: 0;
  transition: transform var(--transition-parameter),
    opacity var(--transition-parameter);
  transform: translateY(100%);
}

.content-link {
  display: inline-block;

  transition: box-shadow var(--transition-parameter);
}

.content-link:hover,
.content-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-link:hover .overlay-text,
.content-link:focus .overlay-text {
  opacity: 1;
  transform: translateY(0%);

  transition: opacity var(--transition-parameter),
    transform var(--transition-parameter);
}

.content .card-description {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
  max-width: 370px;
}

.content .description {
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.content .class {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
