.employment {
  padding-bottom: 94px;
}

.employment h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.employment .item {
  position: relative;
}

.employment p {
  @extend %flex;

  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.employment-list {
  display: flex;
}

.employment-list .item:not(:last-child) {
  margin-right: 30px;
}
